<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-click="vm.toggleLeftMenu()"></button>
    <h1 class="title">Wild Logging</h1>
    <button class="button button-icon icon ion-arrow-right-c" ng-click="vm.goSearch()"></button>
  </ion-header-bar>

  <ion-side-menus>
    <ion-side-menu side="left" style="background-color: #444444;" class="light">
      <ion-content class="has-header has-footer" scroll="false">
        <div class="item item-dark" ng-click="vm.goAbout()">
          About Wild Logging
        </div>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false">
      <ion-content class="has-header has-footer" scroll="false">
        Home Screen Content

        <div class="form-group">
          <form action="#" ng-submit="vm.handleFormSubmit()" name="homeForm">
            <label for="species" >What did you see?</label>
            <input type="text"
              class="form-control"
              ng-required="true"
              placeholder="Species"
              name="species"
              ng-model="vm.homeForm.species"
              id="species"

              typeahead-min-length="3"
              typeahead-editable="false"
              uib-typeahead="species for species in vm.getSpecies($viewValue)"
            />

            <label for="postcode">Where did you see it?</label>
            <input type="text" ng-required="true" placeholder="Postcode" name="postcode" ng-model="vm.homeForm.postcode"
              class="form-control"
              ng-required="true"
              placeholder="Postcode"
              name="postcode"
              id="postcode"

              uib-typeahead="postcode.postcode for postcode in vm.getPostcodes($viewValue)"
              typeahead-min-length="3"
              typeahead-editable="false"

              ng-change="vm.postcodeChange()"
              ng-pattern="vm.postcodeValidator"
              ng-keydown="vm.validatePostcodeKeypress"
            />
          </form>
        </div>

      </ion-content>
    </ion-side-menu-content>
  </ion-side-menus>

  <ion-footer-bar class="bar-dark row">
  </ion-footer-bar>
</ion-view>



