<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-click="vm.toggleLeftMenu()"></button>
    <h1 class="title">Wild Logging</h1>
    <button class="button button-icon icon ion-arrow-right-c" ng-click="vm.goSearch()"></button>
  </ion-header-bar>

  <ion-side-menus>
    <ion-side-menu side="left" style="background-color: #444444;" class="light">
      <ion-content class="has-header has-footer" scroll="false">
        <div class="item item-dark" ng-click="vm.goAbout()">
          About Wild Logging
        </div>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false">
      <ion-content class="has-header has-footer" scroll="false">
        Home Screen Content

        <form action="#" ng-submit="vm.handleFormSubmit()" name="homeForm">
          <label for="postcode">postcode</label>
          <input type="text" ng-required="true" placeholder="Postcode" name="postcode" ng-model="vm.homeForm.postcode" ng-keydown="vm.validatePostcodeKeypress" ng-change="vm.postcodeChange()"
            x-ng-pattern="vm.postcodeValidator"
            ng-model-options="{allowInvalid: true}"
            bs-typeahead
            bs-options="vm.getPostcodes($viewValue)"
          >
        </form>

      </ion-content>
    </ion-side-menu-content>
  </ion-side-menus>

  <ion-footer-bar class="bar-dark row">
  </ion-footer-bar>
</ion-view>



