<uiview>
	<div id="header" class="bar-dark">
    <button class="button" ng-click="vm.goHome()"></button>
    <h1 class="title">About Wild Logging</h1>
    <button class="button button-icon icon ion-arrow-right-c" ng-click="vm.goHome()" >→</button>
  </div>

  <div class="about">
    <h3>Privacy Statement</h3>
    <p>No user-identifiable data is acquired by this application.</p>
    <p>© DigitalLabs, 2017-2018</p>
    <h3>Welfare Statement</h3>
    <p>No <i>actual</i> species were identified during the development of this application.</p>
  </div>
</uiview>