<uiview>
  <div id="header" class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-click="vm.goHome()">❝</button>
    <h1 class="title">Wild Logging - Admin</h1>
    <button class="button button-icon icon ion-arrow-right-c" ng-click="vm.goSearch()">→</button>
  </div>
  <div class="admin-page home-page">
    <h2>this is the authentication page</h2>

    <div ng-if='!isAuthenticated()'>
      <md-button class="md-raised" ng-click='login()'>Login</md-button>
    </div>

    <div ng-if='isAuthenticated()'>
      <md-button class="md-raised" ng-click="logout()">Logout</md-button>
    </div>

  </div>
</uiview>
