<uiview>

  <div id="header" class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-click="vm.goHome()">❝</button>
      <h1 class="title">Wild Logging - <a sref="/admin">Admin</a></h1>
    <button class="button button-icon icon ion-arrow-right-c">
      <div ng-if='!vm.isAuthenticated===true'>
        <md-button class="md-raised small" ng-click='vm.login()'>in</md-button>
      </div>
      <div ng-if='vm.isAuthenticated===true'>
        <md-button class="md-raised small" ng-click="vm.logout()">out</md-button>
      </div>
    </button>
  </div>

  <div class="admin-page home-page">
    <div ng-if='vm.isAuthenticated===true'>
      <h2>Urban Wild: Administration: Events</h2>
      <ul class="list-group" >
        <li class="list-group-item flex-column align-items-start item-remove-animate item item-complex" ng-repeat="item in vm.events | orderBy:'-date' ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.label}}</h5>
            <small>{{item.humanDate}}</small>
            <span class="pull-right">
              <button type="button" class="btn btn-danger list-group-item-action" ng-click="vm.deleteItem({ref:item.id})">
              Delete
              </button>
            </span>
          </div>
          <p>{{item.postcode}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if='vm.isAuthenticated!==true'>
      <h2>Please authenticate.</h2>
      <p>Use the icon in the <span ng-click="vm.login()">top right</span> to authenticate.</p>
    </div>
</uiview>
